
.App {
  text-align: center;
 
}

@media only screen and (min-width: 1980px) {  
  /* For tablets: */  
  .col-m-1 {width: 8.33%;}  
  .col-m-2 {width: 16.66%;}  
  .col-m-3 {width: 25%;}  
  .col-m-4 {width: 33.33%;}  
  .col-m-5 {width: 41.66%;}  
  .col-m-6 {width: 50%;}  
  .col-m-7 {width: 58.33%;}  
  .col-m-8 {width: 66.66%;}  
  .col-m-9 {width: 75%;}  
  .col-m-10 {width: 83.33%;}  
  .col-m-11 {width: 91.66%;}  
  .col-m-12 {width: 100%;}  
} 
 
@media only screen and (min-width: 768px) {  
  /* For desktop: */  
  .col-1 {width: 8.33%;}  
  .col-2 {width: 16.66%;}  
  .col-3 {width: 25%;}  
  .col-4 {width: 33.33%;}  
  .col-5 {width: 41.66%;}  
  .col-6 {width: 50%;}  
  .col-7 {width: 58.33%;}  
  .col-8 {width: 66.66%;}  
  .col-9 {width: 75%;}  
  .col-10 {width: 83.33%;}  
  .col-11 {width: 91.66%;}  
  .col-12 {width: 100%;}  
}  
@media only screen and (min-width: 1050px) {  
  /* For tablets: */  
  .col-m-1 {width: 8.33%;}  
  .col-m-2 {width: 16.66%;}  
  .col-m-3 {width: 25%;}  
  .col-m-4 {width: 33.33%;}  
  .col-m-5 {width: 41.66%;}  
  .col-m-6 {width: 50%;}  
  .col-m-7 {width: 58.33%;}  
  .col-m-8 {width: 66.66%;}  
  .col-m-9 {width: 75%;}  
  .col-m-10 {width: 83.33%;}  
  .col-m-11 {width: 91.66%;}  
  .col-m-12 {width: 100%;}  
} 
 
@media only screen and (min-width: 1600px) {  
  /* For desktop: */  
  .col-1 {width: 8.33%;}  
  .col-2 {width: 16.66%;}  
  .col-3 {width: 25%;}  
  .col-4 {width: 33.33%;}  
  .col-5 {width: 41.66%;}  
  .col-6 {width: 50%;}  
  .col-7 {width: 58.33%;}  
  .col-8 {width: 66.66%;}  
  .col-9 {width: 75%;}  
  .col-10 {width: 83.33%;}  
  .col-11 {width: 91.66%;}  
  .col-12 {width: 100%;}  
}  

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.app_container{
  max-width: 100%;
  margin-left: 15%;
  margin-right:15%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.carousel{
  min-width: 95%;
  min-height: 260px;
  margin-top: 53px;
  margin-left: auto;
  margin-right: auto;
 
}

.container3{


 

}

.cards{
 
  height: 226px;
  width: 136px;
}
.cardGrid{
  
  height: 226px;
  width: 136px;
  
  float: left;
}

.paperCard{
  max-width: 100%;
  
  height: 245px;
}
.card4size{
  padding-left: 20px;
  width: 300px;
}
.card__catogeries{
  padding: 10px;
  margin: 15px;
  
  color: aliceblue;
  
}
.card__info{
  background-color: black;
  color: aliceblue;
  max-width: 100%;
  height: 50px;
}
.card__upper{
  background-color: black;
  color: aliceblue;
  max-width: 100%;
  height: 20px;
}
.produce{
  background-color:black;
  color: aliceblue;
  text-align: center;
  min-width: 300px;
  min-height: 49px;
  border-radius: 20px;
 margin-left: auto;
 margin-right: auto;
 


  
  
}

.paper_3{
  max-width:25%;
  max-height: 25%;
  color: #fbc936;
  background-color: #fbc936;
  /* padding-left: 125px; */
  
}

.paper_4{
  
  min-height: 225px;
    min-width: 140px;
    background-color:red;
    
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 1680px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media only screen and (min-width:1050px ) {
  .paper_4 {
   
  min-height: 225px;
    min-width: 125px;
    background-color:red;
    
  
  }
  .Cards4{
    
  }
.paperCard{
  min-width: 100%;

  height: 245px;
}
  

  .app_container{
    max-width: 100%;
    margin-left:161px;
    margin-right: 161px;
   
  }
  .contpaper3{
     max-width: 100%;
    
    margin-left: -10px;
  }


 
}
  

@media only screen and (max-width:1680px ) {
  .paper_4 {
   
  min-height: 225px;
    min-width: 120px;
   
  
  }
  
.paperCard{
  max-width: 275px;
  min-width: 250px;
  height: 245px;
}

  .app_container{
    max-width: 100%;
    margin-left:150px;
    margin-right: 150px;
   
  }
  .contpaper3{
     max-width: 100%;
    
    margin-left: -0px;
  }
  

 
}

/*  

@media only screen and (max-width:1920px ) {
  .paper_4 {
   
    min-height: 225px;
    min-width: 140px;
   
  
  }

  .app_container{
    max-width: 100%;
    margin-left:150px;
    margin-right: 150px;
   
  }
  .contpaper3{
     max-width: 100%;
    
    margin-left: -0px;
  }
  

 
}


@media only screen and (max-width:1080px ) {
  .paper_4 {
   
  min-height: 225px;
    min-width: 140px;
   
  
  }

  .app_container{
    max-width: 100%;
    margin-left:150px;
    margin-right: 150px;
   
  }
  .contpaper3{
     max-width: 100%;
    
    margin-left: -0px;
  }
  

 
} */


@media only screen and (max-width:1600px ) {
  .paper_4 {
   
  min-height: 225px;
    min-width: 131px;
   
  
  }

  .app_container{
    max-width: 100%;
    margin-left:150px;
    margin-right: 150px;
   
  }
  .contpaper3{
     max-width: 100%;
    
    margin-left: -0px;

  }
  .paperCard{
    min-width: 275px;
    min-height: 245px;
  }


}

@media only screen and (max-width:1440px ) {
  .paper_4 {
   
  min-height: 225px;
    max-width: 110px;
    background-color:red;
    
  
  }
  
  .app_container{
    max-width: 100%;
    margin-left:161px;
    margin-right: 161px;
    
  }
  .contpaper3{
     max-width: 100%;
    
    margin-left: -10px;
  }

  .paperCard{
    max-width: 275px;
    min-width: 250px;
    height: 245px;
  }
}


@media only screen and (min-width:900px ) {
  .paper_4 {
   
  min-height: 225px;
  min-width: 115px;
   
    background-color:red;
    
  
  }
  
  .app_container{
    max-width: 100%;
    margin-left:161px;
    margin-right: 161px;
   
  }
  .contpaper3{
     max-width: 100%;
    
    margin-left: -10px;
  }

  .paperCard{
    max-width: 255px;
    min-width: 200px;
    height: 245px;
  }
}



@media only screen and (min-width:1400px ) {
  .paper_4 {
   
  min-height: 225px;
    min-width: 82px;
    background-color:red;
    
  
  }
  
  .app_container{
    max-width: 100%;
    margin-left:161px;
    margin-right: 161px;
   
  }
  .contpaper3{
     max-width: 100%;
    
    margin-left: -50px;
  }

  .paperCard{
    max-width: 275px;
    min-width: 250px;
    height: 245px;
  }
}


@media only screen and (min-width:1050px ) {
  .paper_4 {
   
  min-height: 225px;
  min-width: 131px;
    background-color:red;
    
  
  }
  
  .app_container{
    max-width: 100%;
    margin-left:161px;
    margin-right: 161px;
   
  }
  .contpaper3{
     max-width: 100%;
    
    margin-left: 40px;
  }

  .paperCard{
    max-width: 270px;
    
    height: 245px;
  }
}





.produce_1{
  max-width: 100%;
  min-height: 20px;
  text-align: center;
  font-family: Poppins;
  font-size: 29px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
}

.calls3{
 max-width: 100%;


}
.card4__catogeries{
  max-width: 251px;
  max-height: 43px;
  margin-bottom: 50px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
   
  color: #000000;
  
}
.container4{
  margin-bottom: 91px;
  
  max-width: 100%;
  min-height: 25%;
  background-image: URL( "/src/Assets/images/apartment-clean-condominium-279719.png");
  
}
.Rectangle-424 {
 
  min-width: 60%;
  min-height: 48px;
  border-radius: 30px;
  background-color: #ffffff;
}
.Rectangle-424 #label{
text-align: center;
}
.Subscribe {
  min-width: 70px;
  min-height: 19px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  
  
}
.Rectangle-425 {
  min-width: 20%;
  min-height: 48px;
  border-radius: 30px;
  background-color: #fbc936;
  margin-left: 20px;
}
.letters{
  min-width: 50%;
  min-height: 78px;
  font-family: Poppins;
  font-size: 29px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  margin-top: 81px;
  margin-bottom: 81px;
  color:#ffffff ;
  
  
}
.sub{
  margin-top: 81px;
  margin-bottom: 81px;
  
  
}

.Grid container{
  background-color: #61dafb;
}

.Icon_c3{
  width: 34.5px;
  height: 34.5px;
  object-fit: contain;
  margin: 20px;
   /* background-image: url("./Assets/images/Group 1256.png" );  */
  
  
}

.Cart{
  
  margin-bottom:100px;
 
}
.HELLO{

    min-width: 50%;
    height: 52px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: Poppins;
    font-size: 37px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.51;
    letter-spacing: normal;
   
    color: #000000;
  }
  .Mr-Barrak-Obama {
    max-width: 80%;
    height: 35px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: Poppins;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  .ACCOUNT-SETTINGS {
    max-width: 80%;
    height: 33px;
   
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    
  }
  .Profile-Information-Manage-Addresses {
    max-width: 100%;
    height: 68px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  .PAYMENTS {
    max-width: 80%;
    height: 33px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  .Path-1126 {
    width: 316.2px;
    color: #000000;
   
  }
  .LOGOUT {
    max-width: 80%;
    height: 33px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  
  .MY-Shopping-CART {
    width: 236px;
    height: 33px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
.Checkbox{
margin-top: 75px;
max-width: 18px;
height: 18px;

  }
  .CartBox{
    max-width: 100%;
    height: 170px;
    background-color:#d8d8d8;
    margin: 10px;
  }
  .Adoni-Brown-Grooved {
    width: 249px;
    height: 28px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  .EditCart{
    max-width: 258px;
  height: 39px;
  /* background-color: #fbc936; */
  }
  .CANCEL-ORDER {
    max-width: 147px;
    height: 28px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
  }
  .side_right{
    border-bottom: #000000 solid 1px;
  }

  .Path-890 {
    width: 237.3px;
    height: 38px;
    background-color: #fbc936;
    position: absolute;
    align-items: center;


  }

  .address {
    width: 562px;
    height: 153px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  
  .ADDRESS-Address-Line-to-go-here-Address-Line-to-go-hereAddress-Line-to-go-here-Line-to-go-hereLine-to-go-he-Line-to-go-here-Line-to-go-hereLine-to-go-here .text-style-1 {
    font-size: 24px;
    font-weight: bold;
  }
  .PaymentSearch{
    min-width: 80%;
    height: 30px;
    border: solid 1px #707070;
    background-color: #ffffff;
    
    }
 .Path-891{
   width: 181px;
   height: 38px;
 } 
 .ProfilePhoto{
   width: 181px;
   height: 227px;
 }
 .ProgPhoto{
  width: 181px;
  height: 227px;
  margin-right: 150px;
  background-color: #808080;
 }
 .SHOPONLINE{
  width: 316px;
  height: 39px;
  background-color: #fbc936;
  
 }
 .Total-Amount-Rs-0000000000 {
  min-width: 100%;
  min-height: 39px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.payForm{
  min-width:25%;
  height: 400px;
  text-align: left;
  position: relative;

}
.FooterLink{
  min-width: 127px;
  height: 135px;
  margin: 34px 0 0;
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.footertitle{
  min-width: 116px;
  height: 20px;
  margin: 0 25px 34px 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.03;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-bottom:50px ;
}
.Personal-Information {
  min-width: 295px;
  height: 33px;
  margin: 27px 12px 21px 51.8px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.paperCard_1{
  width: 50px;
}
